/*=====================================================================================
Settings/ Style for "Upper Content" Index Page
=======================================================================================*/

@import 'global-variables';

.title {
    background-color: $blue;
    color: $white;
    h1 {
        margin: 0;
        padding: 20px;
        text-transform: uppercase;
    }
}

.contactUs-detail {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding: 10px;
}

.con-1 {
    grid-column-start: 2;
    grid-column-end: 2;
    height: 220px;
    display: flex;
    flex-direction: column;
    .row {
        display: flex;
        img {
            border-radius: 800px;
            border: solid $blue;
            margin: auto;
            width: 200px;
            height: 200px;
        }
    }
}

.con-2 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    height: 450px;
    flex-direction: column;
    padding: 0 !important;
}

.con-1, .con-2 {
    border: 2px solid $gray;
    padding: 20px;
    font-weight: bolder;
    p {
        font-size: 15px;
    }
    h2 {
        color: $blue;
        font-size: 30px;
    }
}

.con-3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    border: 2px solid $gray;
    border-radius: 4px;
    background-color: $dark-gray !important;
    flex-direction: column;
    input[type=checkbox] {
        margin-bottom: 10px;
    }
    form {
        display: flex;
        flex-direction: column;
    }
    input[type=text], select, textarea { // Applies to all that have "text" in the types value
        padding: 15px;
        border: 1px solid $gray;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        font-weight: bolder;
      }
      input[type=submit] {
        background-color: $orange;
        color: $white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: fit-content;
        font-weight: bolder;
      }
      input[type=submit]:hover {
        filter: brightness(95%);
        font-weight: bolder;
      }
}

.con-1, .con-2, .con-3 {
    display: flex;
    background-color: $white;
    padding: 20px;
    font-weight: bolder;
}

.g-recaptcha {
    margin-bottom: 10px;
}

#map { 
    height: inherit;
    width: inherit;
}

.leaflet-popup-content-wrapper {
    font-weight: bolder;
}