/*=====================================================================================
Settings/ Style for "ALL Web-Pages"
=======================================================================================*/

* { /* Applies a style/ theme to all elements within the html project */
    font-family: 'Montserrat', sans-serif;
    a {cursor: pointer;}
}

/* Global colour Variables for the website */
$blue: #52658f;
$dark-blue: #333a57;
$orange: #f7882f;
$peach: #f7f5e6;
$white: #fff;