//Misc & Repeated

ul {
    list-style-type: none;
    letter-spacing: 1.5px;
}
.ordernowbtn {
    text-decoration: none;
}
.ordernowbtn2 {
    text-decoration: none;
}

.fa-stack {
    display: flex;
    margin-top: 25px;
}
.SamsCode {
    display: flex;
    width: 1903px;
    height: 500px;
    background-color: white;
    color: #333a57;
    font-size: 30px;
}